
.gitignore
.idea/.gitignore
.idea/deployment.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/tr_sub_fixer.iml
Lost.in.Space.S01E01.WEBRip.Netflix.srt
Lost.in.Space.S01E02.WEBRip.Netflix.srt
Lost.in.Space.S01E03.WEBRip.Netflix.srt
Lost.in.Space.S01E04.WEBRip.Netflix.srt
Lost.in.Space.S01E05.WEBRip.Netflix.srt
Lost.in.Space.S01E06.WEBRip.Netflix.srt
Lost.in.Space.S01E07.WEBRip.Netflix.srt
Lost.in.Space.S01E08.WEBRip.Netflix.srt
Lost.in.Space.S01E09.WEBRip.Netflix.srt
Lost.in.Space.S01E10.WEBRip.Netflix.srt
venv/
.idea/vcs.xml
